
:host {
  display: flex;
  justify-content: center;
  height: 99%;
  max-width: 50%;
}

.btn-action {
  float: right;
  margin-left: 30px;
}

md-card {
  width: 100%;
  /*max-width: 500px;*/
}

.flex-row {
  display: flex;
  flex-direction: row;
}
