<h2>Change your Password</h2>

<md-list>
  <form [formGroup]="passwordForm">
    <md-list-item>
      <md-input type="password"
                placeholder="Old Password"
                [dividerColor]="formErrors.oldPassword?'accent':'primary'"
                formControlName="oldPassword"
                [(ngModel)]="oldPassword"></md-input>
    </md-list-item>
    <md-list-item class="alert alert-danger" *ngIf="formErrors.oldPassword">
      {{ formErrors.oldPassword }}
    </md-list-item>

    <md-list-item>
      <md-input type="password"
                placeholder="New Password"
                [dividerColor]="formErrors.newPassword?'accent':'primary'"
                formControlName="newPassword"
                [(ngModel)]="newPassword"></md-input>
    </md-list-item>
    <md-list-item class="alert alert-danger" *ngIf="formErrors.newPassword">
      {{ formErrors.newPassword }}
    </md-list-item>

    <md-list-item>
      <md-input type="password"
                placeholder="Confirm New Password"
                [dividerColor]="formErrors.confirmPassword?'accent':'primary'"
                formControlName="confirmPassword"
                [(ngModel)]="confirmNewPassword"></md-input>
    </md-list-item>
    <md-list-item class="alert alert-danger" *ngIf="formErrors.confirmPassword">
      {{ formErrors.confirmPassword }}
    </md-list-item>
  </form>
</md-list>

<md-list-item no-lines class="btns-dialog">
  <button md-button color="primary" (click)="cancel()">Cancel Changes</button>
  <button md-button color="primary" [disabled]="!passwordForm.valid"
          (click)="passwordForm.valid && save()">Save Password
  </button>
</md-list-item>
