<h2>Add/Edit Car Park</h2>
<form [formGroup]="carParkForm">
  <md-list>
    <md-list-item class="center-input">
      <md-input type="text" required
                [dividerColor]="formErrors.carParkName?'accent':'primary'"
                placeholder="Car Park Name"
                formControlName="carParkName"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="formErrors.carParkName">
      {{ formErrors.carParkName }}
    </md-list-item>
    <md-list-item class="center-input">
      <md-input type="text" required
                [dividerColor]="formErrors.carParkCode?'accent':'primary'"
                placeholder="Car Park Code"
                formControlName="carParkCode"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="formErrors.carParkCode">
      {{ formErrors.carParkCode }}
    </md-list-item>

    <md-list-item (click)="inputBackground.click()">
      <md-progress-circle mode="indeterminate" color="primary" class="loading-picture"
                          *ngIf="isPictureLoading"></md-progress-circle>
      <label class="lbl-pick-picture" [ngClass]="{'lbl-indent': isPictureLoading}">
        Click to pick a Picture<span class="mandatory">*</span>
      </label>
      <img class="override-picture-preview" *ngIf="carParkToEdit?.picture" [src]="carParkToEdit.picture">
      <input type="file" class="hide-element" #inputBackground (change)="pickCarParkPicture($event)">
    </md-list-item>

    <md-list-item class="center-input">
      <md-select required placeholder="Region"
                 formControlName="region">
        <md-option value="{{regionEnum.central}}">{{regionEnum.central | camelCase}}</md-option>
        <md-option value={{regionEnum.east}}>{{regionEnum.east | camelCase}}</md-option>
        <md-option value={{regionEnum.north}}>{{regionEnum.north | camelCase}}</md-option>
        <md-option value={{regionEnum.northEast}}>{{regionEnum.northEast | camelCase}}</md-option>
        <md-option value={{regionEnum.west}}>{{regionEnum.west | camelCase}}</md-option>
      </md-select>
    </md-list-item>

    <md-list-item class="center-input">
      <md-input type="text" required
                [dividerColor]="formErrors.area?'accent':'primary'"
                placeholder="Area"
                formControlName="area"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="formErrors.area">
      {{ formErrors.area }}
    </md-list-item>

    <md-list-item class="center-input">
      <md-input type="text" required
                [dividerColor]="formErrors.address?'accent':'primary'"
                placeholder="Address"
                formControlName="address"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="formErrors.address">
      {{ formErrors.address }}
    </md-list-item>

    <!--<md-list-item class="center-input">-->
      <!--<md-input type="text"-->
                <!--[dividerColor]="formErrors.nbPlaces?'accent':'primary'"-->
                <!--placeholder="Number of parks"-->
                <!--formControlName="nbPlaces"></md-input>-->
    <!--</md-list-item>-->
    <!--<md-list-item class="center-input alert alert-danger" *ngIf="formErrors.nbPlaces">-->
      <!--{{ formErrors.nbPlaces }}-->
    <!--</md-list-item>-->

  </md-list>
</form>

<md-list-item no-lines class="btns-dialog">
  <button md-button color="primary" (click)="cancel()">Cancel</button>
  <button md-button color="primary" [disabled]="carParkForm.invalid"
          (click)="carParkForm.valid && save()">Save
  </button>
</md-list-item>

