
:host {
  overflow: auto;
}

.title {
  font-weight: bold;
}

.center-input >>> div {
  justify-content: center;
}

.list-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
