
:host {
  overflow: auto;
}

.title {
  font-weight: bold;
}

.center-input >>> div {
  justify-content: center;
}

.list-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.margin-btns {
  margin-top: 20px;
  margin-bottom: 50px;
}

.margin-left {
  margin-left: 50px;
}
