<md-card>
  <md-card-title>{{carPark?.name}} - {{carPark?.code}}
    <img class="override-picture-preview" *ngIf="carPark?.picture" [src]="carPark.picture">
  </md-card-title>

  <md-card-content>
    <md-list>
      <md-list-item>Address: {{carPark?.address}}</md-list-item>
      <md-list-item>Region: {{carPark?.region}}</md-list-item>
      <md-list-item>Area: {{carPark?.area}}</md-list-item>
      <!--<md-list-item *ngIf="carPark.unlocked !== 0">Last unlocked date: {{carPark.unlocked | date}}</md-list-item>-->
      <!--<md-list-item *ngIf="carPark.unlocked === 0">Never unlocked</md-list-item>-->
      <!--<md-list-item *ngIf="currentUser.profile === profileTypeEnum.manager && isCarParkUnlocked">-->
        <!--Already Unlocked for today-->
      <!--</md-list-item>-->
      <!--<md-list-item>number places: {{carPark.nbPlaces}}</md-list-item>-->
      <!--<md-list-item>number free places: {{carPark.nbFreePlaces}}</md-list-item>-->
    </md-list>
  </md-card-content>

  <md-card-actions *ngIf="!isSelected && (currentUser.profile === profileTypeEnum.cleaner
        || currentUser.profile === profileTypeEnum.client
        ||(currentUser.profile === profileTypeEnum.manager && !isCarParkUnlocked))">
    <button md-button color="primary" class="btn-action" (click)="select()"
            *ngIf="currentUser.profile === profileTypeEnum.cleaner">
      Cars in
    </button>
    <!-- Client should see car park only if he clicked on subscribe of his car -->
    <button md-button color="primary" class="btn-action" (click)="subscribeWashService()"
            *ngIf="currentUser.profile === profileTypeEnum.client">
      Subscribe
    </button>
    <button md-button color="primary" class="btn-action" (click)="unlock()"
            *ngIf="currentUser.profile === profileTypeEnum.manager && !isCarParkUnlocked">
      Unlock
    </button>
  </md-card-actions>
  <md-card-actions *ngIf="!isSelected && currentUser.profile === profileTypeEnum.manager">
    <button md-button (click)="edit()">Edit</button>
    <button md-button (click)="remove()">Remove</button>
  </md-card-actions>

</md-card>
