<md-list>
  <div class="center-element">
    <app-car-park-item [carPark]="selectedCarPark" isSelected="true"></app-car-park-item>
  </div>

  <div md-list-item class="no-car-yet" *ngIf="subscriptions?.length === 0">
    <h2>No car has subscribed yet</h2>
  </div>

  <swiper [config]="configCarousel">
    <div class="swiper-wrapper">
      <!--TODO each car has it's subscription, passing cars here is possible-->
      <app-car-item class="swiper-slide"
                    *ngFor="let subscription of subscriptions" [subscription]="subscription"></app-car-item>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next" *ngIf="subscriptions?.length > 4"></div>
    <div class="swiper-button-prev" *ngIf="subscriptions?.length > 4"></div>
  </swiper>

</md-list>
