<md-list [ngBusy]="[loading]">
  <div class="filter-info-layout">
    <app-car-park-filter (onFilterCarParks)="getCarParksFilter($event)"></app-car-park-filter>
  <!--</div>-->
  <!--<div class="center-element">-->
    <app-car-item [car]="selectedCar" isSelected="true"></app-car-item>
  </div>

  <div md-list-item class="no-car-park-yet" *ngIf="carParks?.length === 0">
    <h2>Select a filter for car parks</h2>
  </div>

  <swiper [config]="configCarousel">
    <div class="swiper-wrapper">
      <app-car-park-item class="swiper-slide" *ngFor="let carPark of carParks" [carPark]="carPark"></app-car-park-item>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next" *ngIf="carParks?.length > 4"></div>
    <div class="swiper-button-prev" *ngIf="carParks?.length > 4"></div>
  </swiper>

</md-list>
