<md-list class="list-style">

  <h3 class="center-text">Add Manager or Cleaner</h3>

  <form [formGroup]="signUpForm">
    <md-list-item class="center-input">
      <md-select placeholder="Connect with" required
                 [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="connectEmailNoFacebook">
        <md-option value="true">Email & Password</md-option>
        <md-option value="false">Facebook</md-option>
      </md-select>
    </md-list-item>

    <md-list-item class="center-input" *ngIf="connectEmailNoFacebook === 'true'">
      <md-input type="email" required
                [dividerColor]="signUpFormErrors.email?'accent':'primary'"
                placeholder="Email"
                formControlName="email"
                [(ngModel)]="userModel.email"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="signUpFormErrors.email">
      {{ signUpFormErrors.email }}
    </md-list-item>

    <md-list-item class="center-input" *ngIf="connectEmailNoFacebook === 'true'">
      <md-input type="password" required
                [dividerColor]="signUpFormErrors.password?'accent':'primary'"
                placeholder="Password"
                formControlName="password"
                [(ngModel)]="password"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="signUpFormErrors.password">
      {{ signUpFormErrors.password }}
    </md-list-item>

    <md-list-item class="center-input" *ngIf="connectEmailNoFacebook === 'true'">
      <md-input type="password" required
                [dividerColor]="signUpFormErrors.confirmPassword?'accent':'primary'"
                placeholder="Confirm Password"
                formControlName="confirmPassword"
                [(ngModel)]="confirmPassword"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="signUpFormErrors.confirmPassword">
      {{ signUpFormErrors.confirmPassword }}
    </md-list-item>

    <md-list-item class="center-input" *ngIf="connectEmailNoFacebook === 'true'">
      <md-input type="text" required
                [dividerColor]="signUpFormErrors.name?'accent':'primary'"
                placeholder="Name"
                formControlName="name"
                [(ngModel)]="userModel.name"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="signUpFormErrors.name">
      {{ signUpFormErrors.name }}
    </md-list-item>
  </form>

  <form [formGroup]="userInfoForm">
    <md-list-item class="center-input" *ngIf="connectEmailNoFacebook !== undefined">
      <md-input type="text" required
                [dividerColor]="userInfoFormErrors.address?'accent':'primary'"
                placeholder="Address"
                formControlName="address"
                [(ngModel)]="userModel.address"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="userInfoFormErrors.address">
      {{ userInfoFormErrors.address }}
    </md-list-item>

    <md-list-item class="center-input" *ngIf="connectEmailNoFacebook !== undefined">
      <md-input type="text" required
                [dividerColor]="userInfoFormErrors.phoneNumber?'accent':'primary'"
                placeholder="Phone Number"
                formControlName="phoneNumber"
                [(ngModel)]="userModel.phoneNumber"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="userInfoFormErrors.phoneNumber">
      {{ userInfoFormErrors.phoneNumber }}
    </md-list-item>

    <md-list-item class="center-input" *ngIf="connectEmailNoFacebook !== undefined">
      <!--[dividerColor]="userInfoFormErrors.profile?'accent':'primary'"-->
      <md-select placeholder="Profile" required
                 formControlName="profile"
                 [(ngModel)]="userModel.profile">
        <!--<md-option value={{profileEnum.client}}>Client</md-option>-->
        <md-option value="{{profileEnum.manager}}">Car park Manager</md-option>
        <md-option value={{profileEnum.cleaner}}>Cleaner</md-option>
      </md-select>
    </md-list-item>
  </form>

  <form [formGroup]="carParkForm" *ngIf="userModel.profile === profileEnum.manager">
    <h2 class="center-text">Add the first car park</h2>
    <md-list-item class="center-input">
      <md-input type="text" required
                [dividerColor]="carParkFormErrors.name?'accent':'primary'"
                placeholder="Car park Name"
                formControlName="carParkName"
                [(ngModel)]="carParkModel.name"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="carParkFormErrors.name">
      {{ carParkFormErrors.name }}
    </md-list-item>

    <md-list-item class="center-input">
      <md-input type="text" required
                [dividerColor]="carParkFormErrors.code?'accent':'primary'"
                placeholder="Car park Code"
                formControlName="carParkCode"
                [(ngModel)]="carParkModel.code"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="carParkFormErrors.code">
      {{ carParkFormErrors.code }}
    </md-list-item>

    <md-list-item class="center-input" (click)="inputBackground.click()">
      <md-progress-circle mode="indeterminate" color="primary" class="loading-picture"
                          *ngIf="isPictureLoading"></md-progress-circle>
      <label [ngClass]="{'lbl-indent': isPictureLoading, 'lbl-pick-picture': carParkModel?.picture}">
        Click to pick a Picture<span class="mandatory">*</span>
      </label>
      <img class="override-picture-preview picture-position" *ngIf="carParkModel?.picture" [src]="carParkModel.picture">
      <input type="file" class="hide-element" #inputBackground (change)="pickCarParkPicture($event)">
    </md-list-item>

    <md-list-item class="center-input">
      <md-select required placeholder="Region"
                 formControlName="region"
                 [(ngModel)]="carParkModel.region">
        <md-option value="{{regionEnum.central}}">{{regionEnum.central | camelCase}}</md-option>
        <md-option value={{regionEnum.east}}>{{regionEnum.east | camelCase}}</md-option>
        <md-option value={{regionEnum.north}}>{{regionEnum.north | camelCase}}</md-option>
        <md-option value={{regionEnum.northEast}}>{{regionEnum.northEast | camelCase}}</md-option>
        <md-option value={{regionEnum.west}}>{{regionEnum.west | camelCase}}</md-option>
      </md-select>
    </md-list-item>

    <md-list-item class="center-input">
      <md-input type="text" required
                [dividerColor]="carParkFormErrors.area?'accent':'primary'"
                placeholder="Area"
                formControlName="area"
                [(ngModel)]="carParkModel.area"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="carParkFormErrors.area">
      {{ carParkFormErrors.area }}
    </md-list-item>

    <md-list-item class="center-input">
      <md-input type="text" required
                [dividerColor]="carParkFormErrors.address?'accent':'primary'"
                placeholder="Car park Address"
                formControlName="address"
                [(ngModel)]="carParkModel.address"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="carParkFormErrors.address">
      {{ carParkFormErrors.address }}
    </md-list-item>
    <!--<md-list-item class="center-input">-->
    <!--<md-input type="number" required-->
    <!--[dividerColor]="carParkFormErrors.nbPlaces?'accent':'primary'"-->
    <!--placeholder="Number of parks"-->
    <!--formControlName="nbPlaces"-->
    <!--[(ngModel)]="carParkModel.nbPlaces"></md-input>-->
    <!--</md-list-item>-->
    <!--<md-list-item class="center-input alert alert-danger" *ngIf="carParkFormErrors.nbPlaces">-->
    <!--{{ carParkFormErrors.nbPlaces }}-->
    <!--</md-list-item>-->
  </form>

  <form [formGroup]="cleanerForm" *ngIf="userModel.profile === profileEnum.cleaner">
    <!--<h2 class="center-text">Add your selectedCar park</h2>-->
    <!--<md-list-item class="center-input">-->
    <!--<md-input type="text" required-->
    <!--[dividerColor]="carParkFormErrors.address?'accent':'primary'"-->
    <!--placeholder="Car park Address"-->
    <!--formControlName="address"-->
    <!--[(ngModel)]="carParkModel.address"></md-input>-->
    <!--</md-list-item>-->
    <!--<md-list-item class="center-input alert alert-danger" *ngIf="carParkFormErrors.address">-->
    <!--{{ carParkFormErrors.address }}-->
    <!--</md-list-item>-->
  </form>

  <md-list-item class="center-input">
    <button md-raised-button color="primary"
            [disabled]="!areInputsValid()"
            (click)="areInputsValid()&& createAccount()">Create {{userModel.profile}}
    </button>
  </md-list-item>

</md-list>

