<md-list>
  <form [formGroup]="profileForm" class="center-form-items">
    <div class="form-style">
      <md-list-item class="center-element margin20">
        <button md-raised-button *ngIf="!editMode" (click)="toggleEditMode(true)">
          <md-icon><i class="material-icons">mode_edit</i></md-icon>
          Edit Profile
        </button>

        <button md-raised-button class="margin20"
                *ngIf="editMode" (click)="toggleEditMode(false)">
          Cancel changes
        </button>

        <button md-raised-button class="margin20"
                [disabled]="!profileForm.valid" *ngIf="editMode"
                (click)="profileForm.valid && save()">
          Save changes
        </button>
      </md-list-item>

      <div style="display: flex; flex-direction: row">
        <md-list-item>
          <md-input type="text" required
                    [disabled]="!editMode"
                    [dividerColor]="formErrors.name?'accent':'primary'"
                    placeholder="Name"
                    formControlName="name"
                    value="{{user.name}}"></md-input>
        </md-list-item>
        <md-list-item class="alert alert-danger" *ngIf="formErrors.name">
          {{ formErrors.name }}
        </md-list-item>

        <md-list-item>
          <md-input type="email" required
                    [disabled]="!editMode"
                    [dividerColor]="formErrors.email?'accent':'primary'"
                    placeholder="Email"
                    formControlName="email"
                    value="{{user.email}}"></md-input>
        </md-list-item>
        <md-list-item class="alert alert-danger" *ngIf="formErrors.email">
          {{ formErrors.email }}
        </md-list-item>
      </div>

      <div style="display: flex; flex-direction: row">
        <md-list-item>
          <md-input type="text" required
                    [disabled]="!editMode"
                    [dividerColor]="formErrors.address?'accent':'primary'"
                    placeholder="Address"
                    formControlName="address"
                    value="{{user.address}}"></md-input>
        </md-list-item>
        <md-list-item class="alert alert-danger" *ngIf="formErrors.address">
          {{ formErrors.address }}
        </md-list-item>

        <md-list-item>
          <md-input type="number" required
                    [disabled]="!editMode"
                    [dividerColor]="formErrors.phoneNumber?'accent':'primary'"
                    placeholder="Phone Number"
                    formControlName="phoneNumber"
                    value="{{user.phoneNumber}}"></md-input>
        </md-list-item>
        <md-list-item class="alert alert-danger" *ngIf="formErrors.phoneNumber">
          {{ formErrors.phoneNumber }}
        </md-list-item>
      </div>

      <!--TODO move this to setting-->
      <!--<md-list-item *ngIf="user.provider === 'email'">-->
      <!--<md-input type="password" disabled="true" value="******" placeholder="Password"-->
      <!--(click)="editMode && changePassword()">-->
      <!--</md-input>-->
      <!--</md-list-item>-->
    </div>
  </form>

  <br>

  <swiper [config]="configCarousel" *ngIf="user.profile">
    <!------------ Client's cars list ------------>
    <div class="swiper-wrapper" *ngIf="user.profile === profileTypeEnum.client">
      <app-car-item class="swiper-slide" *ngFor="let car of user.cars"
                    [car]="car" (removed)="updateUserFromDatabase()"></app-car-item>
    </div>
    <!------------ Manager's car parks list ------------>
    <div class="swiper-wrapper" *ngIf="user.profile === profileTypeEnum.manager">
      <app-car-park-item class="swiper-slide" *ngFor="let carPark of user.carParks"
                         [carPark]="carPark" (removed)="updateUserFromDatabase()"></app-car-park-item>
    </div>
    <!------------ Cleaner car parks to select then select a car to wahs ------------>
    <div class="swiper-wrapper" *ngIf="user.profile === profileTypeEnum.cleaner">
      <app-car-park-item class="swiper-slide" *ngFor="let carPark of allCarParks"
                         [carPark]="carPark"></app-car-park-item>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>

</md-list>

<div class="corner-bottom-right"
     *ngIf="user.profile === profileTypeEnum.client || user.profile === profileTypeEnum.manager">
  <button md-fab color="primary" (click)="add()">
    <md-icon>add</md-icon>
  </button>
</div>
