<md-list [ngBusy]="[loading]">

  <md-list-item no-lines class="announcement-wrapper"
            *ngIf="user?.profile !== profileTypeEnum.admin && announcement">
    <div class="full-width announcement-animation">{{announcement}}</div>
  </md-list-item>

  <div class="filter-info-layout">
    <app-car-park-filter *ngIf="user?.profile === profileTypeEnum.cleaner"
                         (onFilterCarParks)="getCarParksFilter($event)"></app-car-park-filter>
    <form [formGroup]="profileForm" class="center-form-items">
      <div class="form-style">
        <md-list-item class="center-element margin20">
          <button md-raised-button *ngIf="!editMode" (click)="toggleEditMode(true)">
            <md-icon><i class="material-icons">mode_edit</i></md-icon>
            Edit Profile
          </button>

          <button md-raised-button class="margin20"
                  *ngIf="editMode" (click)="toggleEditMode(false)">
            Cancel changes
          </button>

          <button md-raised-button class="margin20"
                  [disabled]="!profileForm.valid" *ngIf="editMode"
                  (click)="profileForm.valid && save()">
            Save changes
          </button>
        </md-list-item>

        <div class="row-elements">
          <md-list-item>
            <md-input type="text" required
                      [disabled]="!editMode"
                      [dividerColor]="profileFormErrors.name?'accent':'primary'"
                      placeholder="Name"
                      formControlName="name"
                      value="{{user.name}}"></md-input>
          </md-list-item>
          <md-list-item class="alert alert-danger" *ngIf="profileFormErrors.name">
            {{ profileFormErrors.name }}
          </md-list-item>

          <md-list-item>
            <md-input type="email" required
                      [disabled]="!editMode"
                      [dividerColor]="profileFormErrors.email?'accent':'primary'"
                      placeholder="Email"
                      formControlName="email"
                      value="{{user.email}}"></md-input>
          </md-list-item>
          <md-list-item class="alert alert-danger" *ngIf="profileFormErrors.email">
            {{ profileFormErrors.email }}
          </md-list-item>
        </div>

        <div class="row-elements">
          <md-list-item>
            <md-input type="text" required
                      [disabled]="!editMode"
                      [dividerColor]="profileFormErrors.address?'accent':'primary'"
                      placeholder="Address"
                      formControlName="address"
                      value="{{user.address}}"></md-input>
          </md-list-item>
          <md-list-item class="alert alert-danger" *ngIf="profileFormErrors.address">
            {{ profileFormErrors.address }}
          </md-list-item>

          <md-list-item>
            <md-input type="text" required
                      [disabled]="!editMode"
                      [dividerColor]="profileFormErrors.phoneNumber?'accent':'primary'"
                      placeholder="Phone Number"
                      formControlName="phoneNumber"
                      value="{{user.phoneNumber}}"></md-input>
          </md-list-item>
          <md-list-item class="alert alert-danger" *ngIf="profileFormErrors.phoneNumber">
            {{ profileFormErrors.phoneNumber }}
          </md-list-item>
        </div>
      </div>
    </form>
  </div>

  <br>

  <swiper [config]="configCarousel" *ngIf="user?.profile && user.profile !== profileTypeEnum.admin">
    <!------------ Client's cars list ------------>
    <div class="swiper-wrapper" *ngIf="user.profile === profileTypeEnum.client">
      <app-car-item class="swiper-slide" *ngFor="let car of user.cars"
                    [car]="car" (removed)="updateUserFromDatabase()"></app-car-item>
    </div>
    <!------------ Manager's car parks list ------------>
    <div class="swiper-wrapper" *ngIf="user.profile === profileTypeEnum.manager">
      <app-car-park-item class="swiper-slide" *ngFor="let carPark of user.carParks"
                         [carPark]="carPark" (removed)="updateUserFromDatabase()"></app-car-park-item>
    </div>
    <!------------ Cleaner car parks to select then select a car to wahs ------------>
    <div class="swiper-wrapper" *ngIf="user.profile === profileTypeEnum.cleaner">
      <app-car-park-item class="swiper-slide" *ngFor="let carPark of carParks"
                         [carPark]="carPark"></app-car-park-item>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"
         *ngIf="(user.profile === profileTypeEnum.client && user.cars?.length > 4)
             || (user.profile === profileTypeEnum.manager && user.carParks?.length > 4)
             || (user.profile === profileTypeEnum.cleaner && carParks?.length > 4)"></div>
    <div class="swiper-button-prev"
         *ngIf="(user.profile === profileTypeEnum.client && user.cars?.length > 4)
             || (user.profile === profileTypeEnum.manager && user.carParks?.length > 4)
             || (user.profile === profileTypeEnum.cleaner && carParks?.length > 4)"></div>
  </swiper>

</md-list>

<div class="corner-bottom-right"
     *ngIf="user.profile === profileTypeEnum.client || user.profile === profileTypeEnum.manager">
  <button md-fab color="primary" (click)="add()">
    <md-icon>add</md-icon>
  </button>
</div>
