<md-list>
  <br>

  <form [formGroup]="profileForm">
    <md-list-item class="center-input margin20">
      <button md-button *ngIf="!editMode" (click)="toggleEditMode(true)">
        <md-icon><i class="material-icons">mode_edit</i></md-icon>
        Edit Profile
      </button>

      <button md-raised-button color="primary" class="margin20"
              *ngIf="editMode" (click)="toggleEditMode(false)">
        Cancel changes
      </button>

      <button md-raised-button color="primary" class="margin20"
              [disabled]="!formErrors.valid" *ngIf="editMode"
              (click)="formErrors.valid && save()">
        Save changes
      </button>
    </md-list-item>

    <md-list-item class="center-input">
      <md-input type="text" required
                [disabled]="!editMode"
                [dividerColor]="formErrors.name?'accent':'primary'"
                placeholder="Name"
                formControlName="name"
                value="{{user.name}}"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="formErrors.name">
      {{ formErrors.name }}
    </md-list-item>

    <md-list-item class="center-input">
      <md-input type="email" required
                [disabled]="!editMode"
                [dividerColor]="formErrors.email?'accent':'primary'"
                placeholder="Email"
                formControlName="email"
                value="{{user.email}}"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="formErrors.email">
      {{ formErrors.email }}
    </md-list-item>

    <md-list-item class="center-input">
      <md-input type="password" disabled="true" value="******" placeholder="Password"
                (click)="editMode && changePassword()">
        <!--<span md-prefix class="margin-right">Password :</span>-->
      </md-input>
    </md-list-item>

    <md-list-item class="center-input">
      <md-input type="text" required
                [disabled]="!editMode"
                [dividerColor]="formErrors.address?'accent':'primary'"
                placeholder="Address"
                formControlName="address"
                value="{{user.address}}"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="formErrors.address">
      {{ formErrors.address }}
    </md-list-item>

    <md-list-item class="center-input">
      <md-input type="number" required
                [disabled]="!editMode"
                [dividerColor]="formErrors.phoneNumber?'accent':'primary'"
                placeholder="Phone Number"
                formControlName="phoneNumber"
                value="{{user.phoneNumber}}"></md-input>
    </md-list-item>
    <md-list-item class="center-input alert alert-danger" *ngIf="formErrors.phoneNumber">
      {{ formErrors.phoneNumber }}
    </md-list-item>
  </form>

  <swiper [config]="configCarousel" *ngIf="user.profile === profileTypesEnum.client">
    <div class="swiper-wrapper">
      <app-car-item class="swiper-slide" *ngFor="let car of user.cars"
                    [car]="car" (removed)="updateUserFromDatabase()"></app-car-item>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next" *ngIf="user.cars.length > 4"></div>
    <div class="swiper-button-prev" *ngIf="user.cars.length > 4"></div>
  </swiper>

  <swiper [config]="configCarousel" *ngIf="user.profile === profileTypesEnum.manager">
    <div class="swiper-wrapper">
      <app-car-park-item class="swiper-slide" *ngFor="let carPark of user.carParks"
                         [carPark]="carPark" (removed)="updateUserFromDatabase()"></app-car-park-item>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next" *ngIf="user.carParks?.length > 4"></div>
    <div class="swiper-button-prev" *ngIf="user.carParks?.length > 4"></div>
  </swiper>

  <swiper [config]="configCarousel" *ngIf="user.profile === profileTypesEnum.cleaner">
    <div class="swiper-wrapper">
      <app-car-park-item class="swiper-slide" *ngFor="let carPark of allCarParks"
                         [carPark]="carPark"></app-car-park-item>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next" *ngIf="allCarParks?.length > 4"></div>
    <div class="swiper-button-prev" *ngIf="allCarParks?.length > 4"></div>
  </swiper>

</md-list>

<div class="corner-bottom-right" *ngIf="user.profile !== profileTypesEnum.cleaner">
  <button md-fab color="primary" (click)="add()">
    <md-icon>add</md-icon>
  </button>
</div>
