
:host {
  overflow-y: auto;
  overflow-x: hidden;
}

.center-form-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-style {
  -webkit-box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 3px 10px 2px rgba(0, 0, 0, 0.75);
  border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border: 1px solid #000000;
  padding: 0px 32px;
  margin: 16px;
}

.center-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.style-avatar {
  height: 48px;
  border-radius: 1.8rem;
}

.loading-size {
  width: 28px;
}

.margin20 {
  margin: 20px;
}

.corner-bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.filter-info-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-around
}

.swiper-wrapper {
  min-height: 352px;
}

.announcement-wrapper {
  border-bottom: 1px solid gray !important;
  border-top: 1px solid gray !important;
}

.full-width {
  width: 100%;
}
.announcement-animation {
  animation: move-x linear 25s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: move-x linear 25s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: move-x linear 25s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: move-x linear 25s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: move-x linear 25s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

