/* You can add global styles to this file, and also import other style files */
@import 'assets/material-icons.css';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
@import '~angular2-busy/build/style/busy.css';

.center-text {
  text-align: center;
}

.full-width {
  width: 100%;
}

.alert {
  white-space: pre-line;
  margin-bottom: 20px;
  border: 2px solid transparent;
  border-radius: 10px;
}

.alert .md-list-item {
  height: inherit;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.hide-element {
  display: none;
}

.btns-dialog {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

md-dialog-container {
  border-radius: 20px !important;
}

.ng-busy {
  position: absolute;
  /*left: 50%;*/
  top: 40%;
  /*transform: translate(-50%);*/
}

.swiper-wrapper {
  height: 450px;
}

@keyframes move-x {
  0% {
    transform: translate(-50%, 0px);
  }
  100% {
    transform: translate(100%, 0px);
  }
}

@-moz-keyframes move-x {
  0% {
    -moz-transform: translate(-50%, 0px);
  }
  100% {
    -moz-transform: translate(100%, 0px);
  }
}

@-webkit-keyframes move-x {
  0% {
    -webkit-transform: translate(-50%, 0px);
  }
  100% {
    -webkit-transform: translate(100%, 0px);
  }
}

@-o-keyframes move-x {
  0% {
    -o-transform: translate(-50%, 0px);
  }
  100% {
    -o-transform: translate(-50%, 0px);
  }
}

@-ms-keyframes move-x {
  0% {
    -ms-transform: translate(-50%, 0px);
  }
  100% {
    -ms-transform: translate(100%, 0px);
  }
}
