<h2>Filter car parks by areas</h2>

<md-list>
  <md-list-item class="center-input">
    <md-select placeholder="Cardinal Part"
               (onClose)="getAreasByPart()"
               [(ngModel)]="selectedCarParkFilter.cardinalPart">
      <md-option value={{cardinalPartEnum.north}}>North</md-option>
      <md-option value={{cardinalPartEnum.south}}>South</md-option>
      <md-option value={{cardinalPartEnum.east}}>East</md-option>
      <md-option value={{cardinalPartEnum.west}}>West</md-option>
    </md-select>
  </md-list-item>

  <md-list-item class="center-input" *ngIf="areasPart?.length > 0">
    <!--<md-input type="text" placeholder="Area" style="z-index: 5;"-->
              <!--[(ngModel)]="areaFilter" (keyup)="filterAreas()"></md-input>-->
    <md-select placeholder="Area"
               #selectOptionArea [(ngModel)]="selectedCarParkFilter.area">
      <md-option *ngFor="let area of areasPart" value={{area}}>{{area | camelCase}}</md-option>
    </md-select>
  </md-list-item>

  <md-list-item no-lines>
    <button md-button color="primary"
            [disabled]="selectedCarParkFilter.cardinalPart === undefined"
            (click)="filterCarParks()">Filter Car Parks
    </button>
  </md-list-item>
</md-list>
