<md-card>
  <md-card-title>Filter car parks</md-card-title>
  <md-card-content>
    <md-tab-group #tabGroup (selectChange)="changeFilterTab()">
      <md-tab label="By Code">
        <form [formGroup]="codeFielterForm">
          <md-list>
            <md-list-item class="override-input-min-hight center-element margin-top">
              <md-input type="text" dividerColor="primary"
                        placeholder="Car park Code"
                        formControlName="carParkCode"
                        [(ngModel)]="carParkFilter.code"></md-input>
            </md-list-item>
          </md-list>
        </form>
      </md-tab>
      <md-tab label="By Area">
        <form [formGroup]="areaFielterForm">
          <md-list>
            <md-list-item class="center-element margin-top">
              <md-select placeholder="Region"
                         (onClose)="getAreasByPart()"
                         formControlName="carParkRegion"
                         [(ngModel)]="carParkFilter.region">
                <md-option value="{{regionEnum.central}}">{{regionEnum.central | camelCase}}</md-option>
                <md-option value="{{regionEnum.east}}">{{regionEnum.east | camelCase}}</md-option>
                <md-option value="{{regionEnum.north}}">{{regionEnum.north | camelCase}}</md-option>
                <md-option value={{regionEnum.northEast}}>{{regionEnum.northEast | camelCase}}</md-option>
                <md-option value={{regionEnum.west}}>{{regionEnum.west | camelCase}}</md-option>
              </md-select>
            </md-list-item>

            <md-list-item class="center-element margin-top" *ngIf="areasOfRegion?.length > 0">
              <!--<md-input type="text" placeholder="Area" style="z-index: 5;"-->
              <!--[(ngModel)]="areaFilter" (keyup)="filterAreas()"></md-input>-->
              <md-select placeholder="Area"
                         formControlName="carParkArea"
                         #selectOptionArea [(ngModel)]="carParkFilter.area">
                <md-option *ngFor="let area of areasOfRegion" value={{area}}>{{area | camelCase}}</md-option>
              </md-select>
            </md-list-item>
          </md-list>
        </form>
      </md-tab>
    </md-tab-group>
  </md-card-content>

  <md-card-actions class="center-element">
    <button md-button color="primary"
            [disabled]="tabGroup.selectedIndex === 0 ? codeFielterForm.invalid : areaFielterForm.invalid"
            (click)="(tabGroup.selectedIndex === 0 ? codeFielterForm.valid : areaFielterForm.valid) && filterCarParks()">
      Filter Car Parks
    </button>
  </md-card-actions>

</md-card>
